{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Flask Application Web
        {% endblock title %}
    </title>
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Bootstrap CSS desde CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7x3SO9eVq/mKRQ9VyoA3+UIzFUEN3tc6Q==" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <!-- Bloque para la barra de navegación -->
    {% block navbars %}
        {% include "navbar.html" %}    
    {% endblock navbars %}

    <!-- Imagen -->
    <img src="{{ url_for('static', filename='images/06.webp') }}" alt="">

    <!-- Contenido principal -->
    {% block content %}
    {% endblock content %}
    
    <!-- Bootstrap JS desde CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-tdXtwk6k4ZXBjsnu2C+zRWbPzv8VRu4LGYrM8nMkQAkBuT3O5sS3MFlGqVn2wIcf" crossorigin="anonymous"></script>
{% endblock %}
