{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block title %}
    {{ super() }}
    Welcome to my Flask project
{% endblock title %}

{% block content %}
    {% if user_ip %}
        <h2>
            Hola que tal, tu direccion ip es {{user_ip}}
        </h2>
    {% else %}
        <a href="{{ url_for('index') }}">
            Ir a index, lo que eventualmente hara 
            que solicite la IP y por lo tanto 
            crear una cookie
        </a>
    {% endif %}

    <ul>
        {% for item in items %}
            {{macros.render_items(item)}}
        {% endfor %}
    </ul>
{% endblock content %}

